* {
  margin : 0;
}

.mydiv {
    position: absolute;
    z-index: 9;
    background-color: #2196F3;
    color: #FFFFFF;
    text-align: center;
    width : 100px;
    height: 100px;
    cursor: pointer;
  }

  #createBox,
  #createLine {
    cursor: pointer;
  }

.line_clicked {
  background-color: white;
  border: 2px solid rgb(33, 150, 243);
  color: rgb(0, 0, 0);
} 